<main class="flex flex-col min-h-screen px-10">
	<div
		class="bg-white p-4 rounded-lg shadow-md max-w-xl m-4 self-center w-full"
	>
		<h2 class="text-2xl font-semibold text-indigo-500 mb-2">User Profile</h2>
		<div class="mb-4">
			<label class="block text-gray-700 text-sm font-bold mb-2">First Name: </label>
			<p class="text-gray-800 text-lg font-medium">{{user.first_name}}</p>
		</div>
		{{#if user.last_name}}
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2">Last Name:</label>
				<p class="text-gray-800 text-lg font-medium">{{user.last_name}}</p>
			</div>
		{{/if}}

		<div class="mb-4">
			<label class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
			<p class="text-gray-800 text-lg font-medium">{{user.email}}</p>
		</div>

		<div class="mb-4">
			<label class="block text-gray-700 text-sm font-bold mb-2">Role:</label>
			{{#if isPremiumRole}}
			<p class="text-indigo-800 text-lg font-medium">Premium User</p>
			{{/if}}
			{{#if isRegularRole}}
			<p class="text-gray-800 text-lg font-medium">Standerd User</p>
			{{/if}}
			{{#if isAdminRole}}
			<p class="text-blue-800 text-lg font-medium">Admin User</p>
			{{/if}}
		</div>
		{{#unless RoleAdmin}}
			 <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">Toggle Role:</label>
                <input
                    type="checkbox"
                    id="changeRoleCheckBox"
                    name="changeRole"
                    data-email={{user.email}}
                    {{#if isPremiumRole}}
                        checked
                    {{/if}}
                    class="rounded p-2 border focus:border-indigo-500 focus:outline-none"
                />
                <label for="changeRoleCheckBox" class="text-gray-700 text-sm ml-2">Premium User</label>
            </div>
		{{/unless}}

{{#unless isPremiumRole}}
        <!-- Add the form for uploading documents and updating the role -->
        <form id="uploadDocumentsForm" enctype="multipart/form-data">
            <div class="mb-4">
                <label for="identification" class="block text-gray-700 text-sm font-bold mb-2">Identification:</label>
                <input type="file" id="identification" name="identification" accept=".pdf, .jpg, .png" class="rounded p-2 border focus:border-indigo-500 focus:outline-none">
            </div>

            <div class="mb-4">
                <label for="proofOfAddress" class="block text-gray-700 text-sm font-bold mb-2">Proof of Address:</label>
                <input type="file" id="proofOfAddress" name="proofOfAddress" accept=".pdf, .jpg, .png" class="rounded p-2 border focus:border-indigo-500 focus:outline-none">
            </div>

            <div class="mb-4">
                <label for="bankStatement" class="block text-gray-700 text-sm font-bold mb-2">Bank Statement:</label>
                <input type="file" id="bankStatement" name="bankStatement" accept=".pdf" class="rounded p-2 border focus:border-indigo-500 focus:outline-none">
            </div>

            <button id="fileUploadBtn" type="submit" class="bg-indigo-500 text-white p-2 rounded hover:bg-indigo-600" data-uid={{UID}}>Upload Documents and Upgrade to Premium </button>
        </form>
				{{/unless}}
	</div>
</main>

<script src="/profileLogic.js"></script>