<main class="flex flex-col min-h-screen px-10">
	<div
		class="bg-white p-4 rounded-lg shadow-md max-w-xl m-4 self-center w-full"
	>
		<h2 class="text-2xl font-semibold text-indigo-500 mb-2">User Profile</h2>
		<div class="mb-4">
			<label class="block text-gray-700 text-sm font-bold mb-2">First Name:</label>
			<p class="text-gray-800 text-lg font-medium">{{first_name}}</p>
		</div>
		<div class="mb-4">
			<label class="block text-gray-700 text-sm font-bold mb-2">Last Name:</label>
			<p class="text-gray-800 text-lg font-medium">{{last_name}}</p>
		</div>
		<div class="mb-4">
			<label class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
			<p class="text-gray-800 text-lg font-medium">{{email}}</p>
		</div>
		<div class="mb-4">
			<label class="block text-gray-700 text-sm font-bold mb-2">Age:</label>
			<p class="text-gray-800 text-lg font-medium">{{age}}</p>
		</div>
		<div class="mb-4">
			<label class="block text-gray-700 text-sm font-bold mb-2">Role:</label>
			<p class="text-gray-800 text-lg font-medium">{{role}}</p>
		</div>
	</div>
</main>