<main class="flex flex-col">

	<!-- User Section -->
	<section class="px-4 text-center bg-indigo-500 py-8 text-white">
		<h2 class="text-3xl font-semibold mb-4">Hello {{user.first_name}}</h2>

		{{#if isAdmin}}
			<p class="text-xl">You are an admin!</p>
		{{/if}}

		<a href="/profile">
			<button
				class="bg-indigo-700 hover:bg-indigo-800 text-white py-2 px-4 rounded-full"
			>
				{{user.email}}
			</button>
		</a>
		<a href="/api/sessions/logout">
			<button
				class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-full mt-4"
			>
				Logout
			</button>
		</a>
	</section>

	<section class="bg-gray-100 py-24 flex flex-col md:flex-row">
		<div class="container px-4 text-center max-w-screen-lg">
			<h1 class="text-3xl font-bold mb-4">All products</h1>
			<p class="text-gray-600">Check out our awesome selection of products!</p>
		</div>
		{{#if isAdmin}}
			<div
				class="container mt-4 md:mt-0 md:ml-4 flex flex-col items-center gap-2"
			>
				<h2 class="text-lg font-medium">Need to add or edit something else?</h2>
				<a href="/products/realtimeproducts"><button
						class="bg-gradient-to-r from-purple-400 to-purple-600 text-white px-4 py-2 rounded-md"
					>Add product</button></a>
			</div>
		{{/if}}
	</section>

	<section class="py-8">
		<!-- Category Filter -->
		<section class="mb-4">
			<label for="categoryFilter" class="font-semibold text-white">Filter by
				Category:</label>
			<select
				id="categoryFilter"
				name="categoryFilter"
				onchange="filterProducts(this.value)"
			>
				<option value="" class="categoryButton">Categories</option>
				{{#each categories}}
					<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select>
		</section>
		<div class="container mx-auto px-16 max-w-screen-lg">
			<h3
				class="text-3xl font-semibold text-center mb-6 text-white"
			>Products</h3>
			<section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">

				{{#each products}}
					<article
						class="bg-white rounded-lg shadow-md p-4 flex flex-col justify-between items-center group border-gray-100"
					>
						<!-- Title -->
						<p
							class="text-xl text-purple-600 text-center font-semibold mb-2"
						>{{this.title}}</p>
						<!-- Category Button -->
						<button
							class="bg-indigo-500 hover:bg-indigo-700 text-white px-4 rounded-full mt-2 categoryButton"
						>
							{{this.category}}
						</button>

						<!-- Square Image -->
						<a
							href="/products/id/{{this.id}}"
							class="aspect-square mb-2 overflow-hidden rounded"
						>
							<img
								src="{{this.thumbnail}}"
								alt="{{this.title}}"
								class="w-full h-full object-cover group-hover:scale-110 transition ease"
							/>
						</a>
						<!-- Price -->
						<p
							class="text-xl font-bold text-purple-600 text-center"
						>${{this.price}}</p>

						<!-- Quantity Input with Plus and Minus Buttons -->
						<div class="flex items-center mt-2">
							<button
								class="bg-gray-300 text-gray-600 px-3 py-1 rounded-l"
								onclick="decrementQuantity(this)"
								data-product-id="{{this.id}}"
							>-</button>
							<input
								type="number"
								min="1"
								value="1"
								class="text-center bg-gray-100 w-12"
								id="quantityInput_{{this.id}}"
								data-product-id="{{this.id}}"
							/>
							<button
								class="bg-gray-300 text-gray-600 px-3 py-1 rounded-r"
								onclick="incrementQuantity(this)"
								data-product-id="{{this.id}}"
							>+</button>
						</div>

						<button
							class="rounded bg-purple-600 text-white px-2 py-2 md:px-6 hover:bg-purple-700 transition-all ease hover:scale-105 mt-2 addTocart"
							data-product-id="{{this.id}}"
							data-cartID="{{this.cartID}}"
						>
							Add to cart
						</button>
					</article>
				{{/each}}

			</section>
			<aside class="flex items-center justify-center space-x-2 mt-4">
				{{#if paginateInfo.hasPrevPage}}
					<a
						href="{{paginateInfo.prevLink}}"
						class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
					>
						Previous
					</a>
				{{/if}}
				{{#each paginateInfo.totalPages}}
					{{#if this.isCurrent}}
						<span
							class="bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
						>{{this.page}}</span>
					{{else}}
						<a
							href="{{this.link}}"
							class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-full"
						>
							{{this.page}}
						</a>
					{{/if}}
				{{/each}}
				{{#if paginateInfo.hasNextPage}}
					<a
						href="{{paginateInfo.nextLink}}"
						class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
					>
						Next
					</a>
				{{/if}}
			</aside>

		</div>

	</section>

</main>

<script src="/home.js" type="module"></script>

<script>function incrementQuantity(button) { const productId =
	button.getAttribute("data-product-id"); const input =
	button.parentNode.querySelector('input[type="number"]'); input.value =
	parseInt(input.value) + 1; } function decrementQuantity(button) { const input
	= button.parentNode.querySelector('input[type="number"]'); const value =
	parseInt(input.value); if (value > 1) { input.value = value - 1; } }</script>