<main class="py-8 mt-12">
	<section class="container mx-auto px-4 max-w-screen-lg">
		<div class="bg-white shadow-md rounded-lg p-6 md:p-10">
			<h1 class="text-3xl font-semibold mb-4">{{product.title}}</h1>
			<p class="text-gray-600">{{product.description}}</p>
			<div
				class="mt-6 flex flex-col md:flex-row md:items-center md:justify-between"
			>
				<div class="md:w-1/2">
					<img
						src="{{product.thumbnail}}"
						alt="{{product.title}}"
						class="w-full rounded-lg shadow-md"
					/>
				</div>
				<div class="md:w-1/2 mt-6 md:mt-0">
					<p
						class="text-2xl font-semibold text-purple-600"
					>${{product.price}}</p>
					<p class="text-gray-600 mt-2">Code: {{product.code}}</p>
					<p class="text-gray-600 mt-2">In Stock: {{product.stock}}</p>
					<p class="text-gray-600 mt-2">Category: {{product.category}}</p>

					<!-- Add to Cart Button -->
					<div class="flex items-center mt-2">
						<button
							class="bg-gray-300 text-gray-600 px-3 py-1 rounded-l"
							onclick="decrementQuantity(this)"
							data-product-id="{{product._id}}"
						>-</button>
						<input
							type="number"
							min="1"
							value="1"
							class="text-center bg-gray-100 w-12"
							id="quantityInput_{{product._id}}"
							data-product-id="{{product._id}}"
						/>
						<button
							class="bg-gray-300 text-gray-600 px-3 py-1 rounded-r"
							onclick="incrementQuantity(this)"
							data-product-id="{{product._id}}"
						>+</button>
					</div>

					<button
						class="rounded bg-purple-600 text-white px-2 py-2 md:px-6 hover:bg-purple-700 transition-all ease hover:scale-105 mt-2 addTocart"
						data-product-id="{{product._id}}"
					>Add to cart</button>
				</div>
			</div>
		</div>
	</section>
</main>

<script src="/home.js" type="module"></script>

<script>function incrementQuantity(button) { const productId =
	button.getAttribute("data-product-id"); const input =
	button.parentNode.querySelector('input[type="number"]'); input.value =
	parseInt(input.value) + 1; } function decrementQuantity(button) { const input
	= button.parentNode.querySelector('input[type="number"]'); const value =
	parseInt(input.value); if (value > 1) { input.value = value - 1; } }</script>