<main class="px-4">
	<section class="max-w-lg mx-auto mt-10">
		<h1 class="text-2xl font-bold mb-4 text-white">RealTime products</h1>

		<form
			action=""
			id="createForm"
			class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
		>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2" for="title">
					Title
				</label>
				<input
					class="shadow appearance-none border-1 border-bottom border-purple-600 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="title"
					type="text"
					placeholder="Title"
				/>
			</div>

			<div class="mb-4">
				<label
					class="block text-gray-700 text-sm font-bold mb-2"
					for="description"
				>
					Description
				</label>
				<textarea
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="description"
					placeholder="Description"
				></textarea>
			</div>

			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2" for="price">
					Price
				</label>
				<input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="price"
					type="number"
					placeholder="Price"
				/>
			</div>

			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2" for="code">
					Code
				</label>
				<input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="code"
					type="text"
					placeholder="Code"
				/>
			</div>

			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2" for="stock">
					Stock
				</label>
				<input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="stock"
					type="number"
					placeholder="Stock"
				/>
			</div>

			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2" for="image">
					Image
				</label>
				<input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="image"
					type="text"
					placeholder="Image link"
				/>
			</div>

			<div class="mb-4">
				<label
					class="block text-gray-700 text-sm font-bold mb-2"
					for="categories"
				>
					Categories
					<span class="disabled opacity-50">(Separate with commas)</span>
				</label>
				<input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline capitalize"
					id="categories"
					type="text"
					placeholder="sony, tv"
				/>
			</div>

			<button
				class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
				id="createBtn"
				type="submit"
			>
				Create
			</button>
			<button
				class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline hidden"
				id="updateBtn"
				type="submit"
			>
				Update
			</button>
		</form>

	</section>

	<section class="flex-grow pt-12 pb-24">
		<div
			class="table-container mx-auto max-w-6xl rounded-lg border border-purple-600 snap-x snap-start"
			style="max-height: 600px; overflow-y: scroll;"
		>
			<table class="table-auto w-full" id="realProductsTable">
				<thead>
					<tr class="bg-purple-600 text-white">
						<th class="px-4 py-2 text-left">ID</th>
						<th class="px-4 py-2 text-left">Title</th>
						<th class="px-4 py-2 text-left hidden md:table-cell">Image</th>
						<th
							class="px-4 py-2 text-left hidden lg:table-cell"
						>Description</th>
						<th class="px-4 py-2 text-left hidden sm:table-cell">Code</th>
						<th class="px-4 py-2 text-left hidden sm:table-cell">Categories</th>
						<!-- Add this column -->
						<th class="px-4 py-2 text-left hidden sm:table-cell">Stock</th>
						<th class="px-4 py-2 text-left">Price</th>
						<th class="px-4 py-2 text-center md:text-left">Actions</th>
					</tr>
				</thead>
				<tbody class="text-white">
					{{#each processedProducts}}
						<tr class="even:bg-gray-600 even:bg-opacity-10">
							<td
								class="border-b border-purple-600 px-4 py-2"
							>{{this.shortId}}</td>
							<td
								class="border-b border-purple-600 px-4 py-2"
							>{{this.title}}</td>
							<td class="hidden md:table-cell border-b border-purple-600">
								<div class="aspect-square w-24 h-24">
									<img
										src="{{this.thumbnail}}"
										alt="{{this.title}}"
										class="w-full h-full object-cover"
									/>
								</div>
							</td>
							<td class="hidden lg:table-cell border-b border-purple-600">
								<p class="text-center">{{this.description}}</p>
							</td>
							<td
								class="border-b border-purple-600 px-4 py-2 hidden sm:table-cell"
							>{{this.code}}</td>
							<td
								class="border-b border-purple-600 px-4 py-2 hidden sm:table-cell"
							>
								<div class="flex flex-col gap-1 w-full grow">
									{{#each this.category}}
										<span
											class="bg-gray-800 text-white px-2 py-1 rounded-full text-xs mr-1 hover:bg-purple-500 transition-colors duration-300 ease-in-out grow text-center whitespace-nowrap"
										>{{this}}</span>
									{{/each}}
								</div>
							</td>
							<td
								class="border-b border-purple-600 px-4 py-2 hidden sm:table-cell"
							>{{this.stock}}</td>
							<td
								class="border-b border-purple-600 px-4 py-2"
							>{{this.price}}</td>

							<td
								class="border-b border-purple-600 px-4 py-2 text-center h-full"
							>
								<div class="flex flex-row-reverse gap-2">
									<button
										class="rounded p-2 delete-product-btn"
										data-product-id="{{this._id}}"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 text-white hover:text-red-500 transition-colors duration-300 ease-in-out"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
											/>
										</svg>

									</button>
									<button
										class="text-lg text-white bg-blue-500 hover:bg-blue-700 rounded p-2 ml-2 edit-product-btn"
										data-product-id="{{this._id}}"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewBox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
											/>
										</svg>

									</button>
								</div>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</section>

</main>
<script src="/index.js" type="module"></script>
<style>
	.table-container { max-height: 600px; */ overflow-y: auto; } th {
	position:sticky; top: 0; background-color: rgb(147, 51, 234); color: white;
	z-index: 2; }
</style>